node_red_dashboard.json
[
    {
        "id": "3c4b467c7d3d8da7",
        "type": "tab",
        "label": "Medibox Control System",
        "disabled": false,
        "info": "A comprehensive system for monitoring and controlling a Medibox device."
    },
    {
        "id": "f3e60b5e203fb005",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Tahoma,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Tahoma,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "afa1801096478a2c",
        "type": "mqtt-broker",
        "name": "hivemq",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ab08f253.d4fd8",
        "type": "ui_tab",
        "name": "Medibox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3bc3a40b.9e719c",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "ab08f253.d4fd8",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e5af7ee8.2f14a",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "ab08f253.d4fd8",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d0c2e89.76d642",
        "type": "ui_group",
        "name": "Shade Controller",
        "tab": "ab08f253.d4fd8",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2474341c5eaf9f5f",
        "type": "ui_group",
        "name": "Servo Motor",
        "tab": "ab08f253.d4fd8",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "08475e8e054fee0c",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "55570349473aeb37",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "e6665679f2d9a564",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "57904b88464ba0c6",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "da495a4d04d9d048",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "b93b761a1385b572",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "e14f357fcc4f3f11",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "b4d64d091268ac7e",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "be74694dab24baba",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "89f51f67f3d2d1fc",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "b696fbcae7cb05a8",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "296c89b6382e090c",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "11c9da7ad828d0bd",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "febcd74e97feea13",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "92f2063fa5e674d8",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "2867ad901f82c3d9",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "820e6d13c353b9fc",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "853a127ed738150a",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "79268fa2461ae4f4",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "5086d924783a4d10",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "23085e10c3a258c6",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "21cbe1e39cb46909",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "3bc3a40b.9e719c",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "bba0edde292d0e43",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "e5af7ee8.2f14a",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "0f29b3cf38fb2267",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "e5af7ee8.2f14a",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "abb4a47851474fa5",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "e5af7ee8.2f14a",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "48038d20c06f92ca",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "e5af7ee8.2f14a",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "db0a90726bb5e4c8",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "e5af7ee8.2f14a",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "2a5cfb7bb72e63fc",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "e5af7ee8.2f14a",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "144a949de79e682b",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "e5af7ee8.2f14a",
        "order": 8,
        "width": 10,
        "height": 1
    },
    {
        "id": "bbdcd1832340968c",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "e5af7ee8.2f14a",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "fa206480e1ecc24c",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "e5af7ee8.2f14a",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "25dfb57aa66a4dca",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "e5af7ee8.2f14a",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "2ed66ef86c4aa596",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "e5af7ee8.2f14a",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "ba6f5159330ca65e",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "e5af7ee8.2f14a",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "4f46a0d79797bf81",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "e5af7ee8.2f14a",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "5dc7d1498ae84b38",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "e5af7ee8.2f14a",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "ba9b4e25f9596d47",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "e5af7ee8.2f14a",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "d6db6379f1bc1397",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "2474341c5eaf9f5f",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "d53ab29e552d4a63",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "2474341c5eaf9f5f",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "beb431e494069c50",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "2474341c5eaf9f5f",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "23b213dcaa515554",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "2474341c5eaf9f5f",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "18602f8c4f14b89d",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "2474341c5eaf9f5f",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "6a2a4e17380d20db",
        "type": "ui_spacer",
        "z": "3c4b467c7d3d8da7",
        "name": "spacer",
        "group": "2474341c5eaf9f5f",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "4899fc45ae1cb363",
        "type": "mqtt in",
        "z": "3c4b467c7d3d8da7",
        "name": "Light Intensity Data",
        "topic": "220097X_medibox/light",
        "qos": "0",
        "datatype": "auto",
        "broker": "afa1801096478a2c",
        "nl": false,
        "rap": true,
        "inputs": 0,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "44a4a5657d43cde3"
            ]
        ]
    },
    {
        "id": "44a4a5657d43cde3",
        "type": "json",
        "z": "3c4b467c7d3d8da7",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 320,
        "y": 80,
        "wires": [
            [
                "ae667de50bf62de0"
            ]
        ]
    },
    {
        "id": "ae667de50bf62de0",
        "type": "function",
        "z": "3c4b467c7d3d8da7",
        "name": "Extract Value",
        "func": "if (msg.payload && typeof msg.payload.value === 'number') {\n    msg.payload = msg.payload.value;\n} else if (msg.payload && typeof msg.payload.value === 'string') {\n    msg.payload = parseFloat(msg.payload.value);\n} else {\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 80,
        "wires": [
            [
                "f8e6159cd0b8a7fb",
                "cfbd0819714f0e2d",
                "146fee9698e62004"
            ]
        ]
    },
    {
        "id": "f8e6159cd0b8a7fb",
        "type": "ui_gauge",
        "z": "3c4b467c7d3d8da7",
        "name": "Light Intensity Gauge",
        "group": "3bc3a40b.9e719c",
        "order": 2,
        "width": 8,
        "height": 5,
        "gtype": "gage",
        "title": "Current Light Intensity",
        "label": "Intensity",
        "format": "{{value}}",
        "min": 0,
        "max": 1,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.3",
        "seg2": "0.7",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 20,
        "wires": []
    },
    {
        "id": "cfbd0819714f0e2d",
        "type": "ui_chart",
        "z": "3c4b467c7d3d8da7",
        "name": "Light Intensity History",
        "group": "3bc3a40b.9e719c",
        "order": 19,
        "width": 8,
        "height": 4,
        "label": "Light Intensity Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Available",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 10,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "146fee9698e62004",
        "type": "debug",
        "z": "3c4b467c7d3d8da7",
        "name": "Light Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "5c216ecc09dac731",
        "type": "ui_slider",
        "z": "3c4b467c7d3d8da7",
        "name": "Sampling Interval",
        "label": "Sampling Interval (seconds)",
        "tooltip": "",
        "group": "3bc3a40b.9e719c",
        "order": 13,
        "width": 7,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "ts",
        "topicType": "str",
        "min": 1,
        "max": 60,
        "step": 1,
        "className": "",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "40a7cdeb50494268"
            ]
        ]
    },
    {
        "id": "65b0459c3c78b590",
        "type": "ui_slider",
        "z": "3c4b467c7d3d8da7",
        "name": "Sending Interval",
        "label": "Sending Interval (seconds)",
        "tooltip": "",
        "group": "3bc3a40b.9e719c",
        "order": 16,
        "width": 7,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "tu",
        "topicType": "str",
        "min": 10,
        "max": 300,
        "step": 5,
        "className": "",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "40a7cdeb50494268"
            ]
        ]
    },
    {
        "id": "e98a0823dd893346",
        "type": "mqtt in",
        "z": "3c4b467c7d3d8da7",
        "name": "Temperature Data",
        "topic": "220097X_medibox/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "afa1801096478a2c",
        "nl": false,
        "rap": true,
        "inputs": 0,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "2e83078a9546ce57"
            ]
        ]
    },
    {
        "id": "2e83078a9546ce57",
        "type": "json",
        "z": "3c4b467c7d3d8da7",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "a76d7cc1aedb6620"
            ]
        ]
    },
    {
        "id": "a76d7cc1aedb6620",
        "type": "function",
        "z": "3c4b467c7d3d8da7",
        "name": "Extract Value",
        "func": "if (msg.payload && typeof msg.payload.value === 'number') {\n    msg.payload = msg.payload.value;\n} else if (msg.payload && typeof msg.payload.value === 'string') {\n    msg.payload = parseFloat(msg.payload.value);\n} else {\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 180,
        "wires": [
            [
                "5b3e859acdcf658b",
                "e9be2bab8b835c82",
                "16317b10fad031c6"
            ]
        ]
    },
    {
        "id": "5b3e859acdcf658b",
        "type": "ui_gauge",
        "z": "3c4b467c7d3d8da7",
        "name": "Temperature Gauge",
        "group": "e5af7ee8.2f14a",
        "order": 2,
        "width": 9,
        "height": 6,
        "gtype": "gage",
        "title": "Current Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 140,
        "wires": []
    },
    {
        "id": "e9be2bab8b835c82",
        "type": "ui_chart",
        "z": "3c4b467c7d3d8da7",
        "name": "Temperature History",
        "group": "e5af7ee8.2f14a",
        "order": 10,
        "width": 8,
        "height": 4,
        "label": "Temperature Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data Available",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 10,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#aec7e8",
            "#ff7f0e",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "16317b10fad031c6",
        "type": "debug",
        "z": "3c4b467c7d3d8da7",
        "name": "Temp Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "b6387656b1eeed8f",
        "type": "ui_slider",
        "z": "3c4b467c7d3d8da7",
        "name": "Minimum Angle",
        "label": "Minimum Angle ",
        "tooltip": "",
        "group": "1d0c2e89.76d642",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "theta_offset",
        "topicType": "str",
        "min": 0,
        "max": 120,
        "step": 1,
        "className": "",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "40a7cdeb50494268"
            ]
        ]
    },
    {
        "id": "4ae4b76ce0a4bbf8",
        "type": "ui_slider",
        "z": "3c4b467c7d3d8da7",
        "name": "Controlling Factor",
        "label": "Controlling Factor ",
        "tooltip": "",
        "group": "1d0c2e89.76d642",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "gamma",
        "topicType": "str",
        "min": 0,
        "max": 1,
        "step": 0.05,
        "className": "",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "40a7cdeb50494268"
            ]
        ]
    },
    {
        "id": "6a3da7bf6209ee40",
        "type": "ui_slider",
        "z": "3c4b467c7d3d8da7",
        "name": "Ideal Temperature",
        "label": "Ideal Temperature (°C)",
        "tooltip": "",
        "group": "1d0c2e89.76d642",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "Tmed",
        "topicType": "str",
        "min": 10,
        "max": 40,
        "step": 1,
        "className": "",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "40a7cdeb50494268"
            ]
        ]
    },
    {
        "id": "40a7cdeb50494268",
        "type": "join",
        "z": "3c4b467c7d3d8da7",
        "name": "Combine Parameters",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "2ad6fe2689d2d964"
            ]
        ]
    },
    {
        "id": "2ad6fe2689d2d964",
        "type": "json",
        "z": "3c4b467c7d3d8da7",
        "name": "To JSON",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 680,
        "y": 420,
        "wires": [
            [
                "a0d776991d6b144d"
            ]
        ]
    },
    {
        "id": "a0d776991d6b144d",
        "type": "mqtt out",
        "z": "3c4b467c7d3d8da7",
        "name": "Send Parameters",
        "topic": "220097X_medibox/params",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "afa1801096478a2c",
        "x": 890,
        "y": 420,
        "wires": []
    },
    {
        "id": "fb636235cfe1c5ea",
        "type": "mqtt in",
        "z": "3c4b467c7d3d8da7",
        "name": "Motor Angle Data",
        "topic": "220097X_medibox/servo",
        "qos": "0",
        "datatype": "auto",
        "broker": "afa1801096478a2c",
        "nl": false,
        "rap": true,
        "inputs": 0,
        "x": 120,
        "y": 640,
        "wires": [
            [
                "a0e529541c3d38e9"
            ]
        ]
    },
    {
        "id": "a0e529541c3d38e9",
        "type": "json",
        "z": "3c4b467c7d3d8da7",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 640,
        "wires": [
            [
                "bf59afc87f752578"
            ]
        ]
    },
    {
        "id": "bf59afc87f752578",
        "type": "function",
        "z": "3c4b467c7d3d8da7",
        "name": "Extract Value",
        "func": "if (msg.payload && typeof msg.payload.value === 'number') {\n    msg.payload = msg.payload.value;\n} else if (msg.payload && typeof msg.payload.value === 'string') {\n    msg.payload = parseFloat(msg.payload.value);\n} else {\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 640,
        "wires": [
            [
                "50983a2f7beb13af",
                "71d2d469027b7497"
            ]
        ]
    },
    {
        "id": "50983a2f7beb13af",
        "type": "ui_gauge",
        "z": "3c4b467c7d3d8da7",
        "name": "Motor Angle Gauge",
        "group": "2474341c5eaf9f5f",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Current Motor Angle",
        "label": "Degrees",
        "format": "{{value}}",
        "min": 0,
        "max": 180,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "120",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 640,
        "wires": []
    },
    {
        "id": "71d2d469027b7497",
        "type": "debug",
        "z": "3c4b467c7d3d8da7",
        "name": "Servo Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 680,
        "wires": []
    },
    {
        "id": "8eba600510b9a2a3",
        "type": "comment",
        "z": "3c4b467c7d3d8da7",
        "name": "Light Intensity Monitoring",
        "info": "",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "51f8741ba3145179",
        "type": "comment",
        "z": "3c4b467c7d3d8da7",
        "name": "Configuration Parameters",
        "info": "",
        "x": 130,
        "y": 240,
        "wires": []
    },
    {
        "id": "d2eacf667e712b38",
        "type": "comment",
        "z": "3c4b467c7d3d8da7",
        "name": "Temperature Monitoring",
        "info": "",
        "x": 120,
        "y": 140,
        "wires": []
    },
    {
        "id": "259311ca2c2c48d7",
        "type": "comment",
        "z": "3c4b467c7d3d8da7",
        "name": "Motor Control Parameters",
        "info": "",
        "x": 130,
        "y": 400,
        "wires": []
    },
    {
        "id": "a621c2f4900692d7",
        "type": "comment",
        "z": "3c4b467c7d3d8da7",
        "name": "Motor Angle Display",
        "info": "",
        "x": 110,
        "y": 600,
        "wires": []
    }
]